#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

#headWrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

h1 {
  margin: 20px;
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  color: white;
  font-weight: 600;
  padding: 12px;
  text-decoration: underline;
}

.tp_rotv {
  font-family: Calibri;
}

.tp-lblv {
  justify-content: space-between;
}

.tp-lblv_l {
  max-width: 200px;
}

.tp-lblv_v {
  width: 30% !important;
}

#grassDiv {
  position: relative;
}

#fps {
  position: absolute;
  top: -14px;
  left: 5px;
}
